.App {
  text-align: center;
  font-family: 'Monserrat', arial;
}

  .heading-container {
    position: relative;
    height: 280px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 62%, rgba(252,176,69,1) 100%);
  }

    h2 {
      position: relative;
      top: 94px;
      width: 18em;
      font-weight: 700;
      font-size: 2.2em;
      line-height: 44px;
      margin: 0 auto;
      color: white;
    }

.search-box-container {
  position: relative;
  height: 140px;
  width: 100%;
  margin: 0 auto;
  border: 0;
  background-color: #1c354c;
}

  /* ----- styles for local implementation of <CustomSearchBox> -- */
  
  .search-box-custom {
    border-radius: 24px;
    max-width: 520px;
    margin: auto;
    top: 45px;
    background-color: white;
  }

    .inputbox {
      padding-left:60px;
      padding-right:20px;
      text-align:left;
      font-family:'Monserrat', arial;
      font-size: 1.8em;
      background: transparent;
    }

      .inputbox::placeholder {
        color: #ccc;
        font-size: 0.9em;
      }

      .inputbox-loader-image {
        top:14px;
      }

  ul.city-options--visible {
    top: 64px;
    margin-top: -15px;
    list-style-type: none;
    margin-left:10px;
    padding-left: 12px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  /* ----- end of - styles for local implementation of <CustomSearchBox> ---- */

  /* -----  result figure [+ - number] by Search Box ----- */

.results-text-container {
  font-size: 26px;
  font-family: arial;
  font-weight: 700;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #064f74;
}

.results-text {
  margin: 0 auto;
  color: white;
}

/* ----- error text ----- */
.api-error {
  color: white;
  font-size: 22px;
  top: 97px;
  position: relative;
}

/* ----- key ----- */

.key {
  position: relative;
  font-weight: 400;
  font-size: 28px;
  padding-top: 20px;
}

  .key__old-years,
  .key__new-years {
    display: inline-block;
    margin: 0 30px;
    padding-bottom: 14px; 
  }

  .key__old-years {
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue
  }

  .key__new-years {
    color: crimson;
    border-bottom: 2px solid crimson;
  }

  /* ----- charts area ----- */

  .charts-container {
    position: relative;
    margin: 0 auto;
    height: 400px;
    margin-bottom: 60px;
  }

    /* ----- flashing years loading ----- */

    .latest-year-loaded {
      margin: 0 auto;
      top: 100px;
      font-weight: bold;
      font-size: 240px;
      color: rgba(100, 100, 100, 0.05);
    }

      /* ----- graph line - grey day spikes ----- */

      .chart-container-days {
        position: absolute;
        margin: 0 auto;
        top: 0;
        height: 100%;
        width: 100%;
      }

        .VictoryContainer {
          width:400px;
        }

      /* ----- graph line - average lines ----- */

      .chart-container-averages {
        position: absolute;
        margin: 0 auto;
        top: 0;
        height: 100%;
        width: 100%;
      }

        .VictoryContainer {
          width:400px;
        }

    
    /* -----  result figure [+ - number] - large text ----- */

      .results-bg-text {
        position:relative;
        margin: 0 auto;
        padding-top: 60px;
        font-weight: bold;
        font-size: 180px;
        color: rgba(200, 200, 200, 0.65);
      }

