.App {
  text-align: center;
  height:600px;
  font-family: arial, helvetica;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-weight: 400;
  margin-bottom: 6px;
}

.old-years,
.new-years {
  font-size: 22px;
}

.old-years {
  color: dodgerblue;
}

.new-years {
  color: crimson;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
