.App {
  text-align: center;
  height:600px;
  font-family: 'Monserrat', arial;
  font-weight:400;
}

.main {
  margin: 20px 0 0;
}

h2 {
  font-weight: 700;
  margin: 8px 0 14px;
  background: #555;
  padding: 8px;
  color: white;
}

/* ----- styles for local implementation of <CustomSearchBox> -- */

.search-box-container {
  position: relative;
  max-width: 510px;
  margin: 0 auto;
  border: 0;
  padding: 0 14px;
}
  .search-box-custom {
    border-radius: 24px;
    border: 2px solid #555;
  }

    .inputbox {
      padding-left:60px;
      padding-right:20px;
      text-align:left;
      font-family:'Monserrat', arial;
      font-size:1.4em;
      border-radius:2px;
      height:42px;
      background: transparent;
    }

      .inputbox::placeholder {
        color: #ccc;
        font-size: 0.9em;
      }

      .inputbox-loader-image {
        top:9px;
      }

  .city-options--visible {
    margin-top: 0;
    list-style-type: none;
    padding-left: 22px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

/* ----- styles for local implementation of <CustomSearchBox> ---- */

/* ----- error text ----- */
.api-error {
  color: darkred;
  margin-top: 12px;
}

/* ----- key ----- */

.key {
  position: relative;
  font-weight: 400;
  margin: 10px 0 0;
}

  .old-years,
  .new-years {
    display:inline-block;
    padding: 3px;
    font-size: 22px;
  }

  .old-years, .old-years-key-line {
    color: dodgerblue;
  }

  .new-years, .new-years-key-line {
    color: crimson;
  }

  /* ----- charts area ----- */

  .charts-container {
    position: relative;
    margin: 0 auto;
    height: 400px;
  }

    /* -----  result figure [+ - number] on Search Box ----- */

    .results-text {
      font-size: 28px;
      font-family: arial;
      font-weight: 700;
      width: 120px;
      margin: 6px auto 0;
      background: darkred;
      color: white;
      padding: 6px 0;
      border-radius: 0 20px 20px 0;
      position: absolute;
      top: -5px;
      right: 0;
      z-index:2;
    }

    /* ----- flashing years loading ----- */

    .latest-year-loaded {
      margin: 0 auto;
      top: 100px;
      font-weight: bold;
      font-size: 240px;
      color: rgba(100, 100, 100, 0.05);
    }
      @keyframes fadeaway { 
        0% {
          opacity: 0.05;
        }
        100% {
          opacity: 0;
        }
      }

      .fadeaway-animation {
        animation: fadeaway 0.7s;
      }

      /* ----- graph line - grey day spikes ----- */

      .chart-container-days {
        position: absolute;
        margin: 0 auto;
        top: 0;
        height: 100%;
        width: 100%;
      }

        .VictoryContainer {
          width:400px;
        }

      /* ----- graph line - average lines ----- */

      .chart-container-averages {
        position: absolute;
        margin: 0 auto;
        top: 0;
        height: 100%;
        width: 100%;
      }

        .VictoryContainer {
          width:400px;
        }

    
    /* -----  result figure [+ - number] - large text ----- */

      .results-bg-text {
        position:relative;
        margin: 0 auto;
        font-weight: bold;
        font-size: 180px;
        color: rgba(200, 200, 200, 0.65);
      }
