.App {
  text-align: center;
  width:1500px;
  height:300px;
  font-family: arial, helvetica
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
